<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conheça Receitas deliciosas no foodfy">
    <link rel="stylesheet" href="/styles/recipes.css">
    <title>Foodfy</title>
</head>
<body>
    <header>
        <a href="/"><img src="/images/black_logo.png" id="logo"></a>
        <div id="links">
            <a  href="/about">Sobre</a>
            <a id="selected" href="/recipes">Receitas</a>
        </div>
    </header>

    <section class="cards">
        {% for recipe in recipes %}
            <div class="card" id={{recipe.id}}>
                <img class="food-image" src="{{recipe.image}}" alt="{{recipe.title}}">
                <p class="food-title">{{recipe.title}}</p>
                <p class="food-author">por {{recipe.author}}</p>
            </div>
        {% endfor %}
    </section>

    {# <div class="modal-overlay">
        <div class="modal">
            <img class="modal-food-image" src="images/burger.png">
            <p class="modal-food-title">Comida</p>
            <p class="modal-food-author">Autor</p>
            <div class="close-modal">
                <a>Fechar modal</a>
            </div>

        </div>
    </div> #}

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <script src="/scripts.js"></script>
</body>
</html>