{% extends '../layout.njk' %}

{% block content %}
<form id="create-card" method="POST" action="/admin/chefs">
    <div class="creation-header">
        <h3>Criando Chefe</h3>
        <button type="submit">Salvar chef</button>
    </div>
    
    <section class="details">
        
        {% include './fields.njk' %}

    </section>
</form>

<script src="/create.js"></script>
{% endblock content %}