{% extends '../layout.njk' %}

{% block content %}
<section class="home">
    <div class ="show-title">
        <h1>Gerenciar Chefs</h1>
        <a href="/admin/chefs/create">Registrar novo chef</a>
    </div>

    <div class="chefs-management">
        {% for chef in chefs %}
            <div class="chef-homecard">
               <img src="{{chef.avatar_url}}" alt="">
               <div class="chef-homecard-details">
                   <h5>{{chef.name}}</h5>
                   <a href="/admin/chefs/{{chef.chef_id}}">Visualizar</a>
               </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock%}