{% extends 'admin/layout.njk' %}

{% block content %}
    <div class="show-title">
        <h2>Chef: {{chef.name}}</h2>
        <a href="/admin/chefs/{{chef.id}}/edit">Editar chef</a>
    </div>
    <section class="start">
        <img id="chef-avatar" src={{chef.avatar_url}}>
        <h1>{{chef.name}}</h1>
        <p>{{recipe.author}}</p>
    </section>

    <section class="chef-recipes">
        <h2>Receitas</h2>
        <div class="recipes-mural" style="margin-top: 3vh;margin-bottom: 28%;">
                {% for recipe in recipesOptions %}
                        <div class="card home">
                            <img src="{{recipe.image}}" alt="">
                            <div class="card-home-details">
                                <h3>{{recipe.title}}</h3>
                                <p>{{chef.name}}</p>
                                <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                            </div>
                        </div>
                {% endfor %}
        </div>
    </section>
    {# <script src="/create.js"></script> #}
{% endblock%}

