{% extends './layout.njk'%}

{% block content %}
<div class="chefs-page-card-container">
    {% for chef in chefs %}
    
        <div class="chef-card">
            <div>
                <img src="{{chef.src}}" alt="{{chef.name}}">
            </div>

            <div>
                <p>{{chef.name}}</p>
                {% if chef.recipes_number > 1 %}
                    <p>{{chef.recipes_quantity}} receitas</p>
                {% else %}
                    <p>{{chef.recipes_quantity}} receita</p>
                {% endif %}
            </div>
        </div>

    {% endfor %}
</div>

{% endblock %}