{% extends './layout.njk' %}

{% block content %}

    <section id="homepage-background">
        <div>
            <p>As melhores Receitas</p>
        
            <p>Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.</p>
        </div>

        <img id="chef-homepage-logo" src="/images/chef.png">
    </section>

    <div id="homepage-recipe-container">
        <h2>Mais acessadas</h2>
        
        <section class="recipes-card-container">
            {% for recipe in recipes %} 
                <div class="recipe-card" id={{recipe.id}}>
                    <img class="food-image" src="{{recipe.src}}" alt="{{recipe.title}}">
                    <p class="food-title">{{recipe.title}}</p>
                    <p class="food-author">por {{recipe.chef_name}}</p>
                </div>
            {% endfor %}
        </section>

        <div class="pagination"
            data-page = {{pagination.page}}
            data-total = {{pagination.total}}
            data-filter = {{filter}}
        ></div>
    </div>

{% endblock %}