{% extends './layout.njk'%}

{% block content%}

    <div id="homepage-recipe-container">
        <section class="recipes-card-container">
            {% for recipe in recipes %}
                <div class="recipe-card" id={{recipe.id}}>
                    <img class="food-image" src="{{recipe.image}}" alt="{{recipe.title}}">
                    <p class="food-title">{{recipe.title}}</p>
                    <p class="food-author">por {{recipe.author}}</p>
                </div>
            {% endfor %}
        </section>
    </div>

{% endblock %}