{% extends '../layout.njk' %}

{% block content %}
<form id="create-card" method="POST" action="/users/recipes" enctype="multipart/form-data">
    <div class="creation-header">
        <h3>Criando Receita</h3>
        <button type="submit">Salvar receita</button>
    </div>
    
    <section class="details">
        
        {% include './fields.njk' %}

    </section>
</form>

<script src="/scripts/create.js"></script>
{% endblock content %}