<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Foodfy</title>
        <link rel="stylesheet" href="/styles/admin-styles.css">
    </head>
    <body>
        <header class="admin-header">
                <a href="/admin/recipes"><img id="logo" src="/images/logo.png"></a>

                <div id="admin-header-menu">
                    <a href="/admin/recipes">RECEITAS</a>
                    <a href="/admin/chefs">CHEFS</a>
                </div>
        </header>

        <div class="body-container">
            {% block content %}{% endblock %}
        </div>

        <script src="/scripts.js"></script>
    </body>
</html>