{% extends '../layout.njk' %}

{% block content %}
<form id="card" method="POST" action="/admin/recipes?_method=PUT">
    <div class="creation-header">
        <h3>Editando Receita</h3>
        <button type="submit">Salvar receita</button>
    </div>
    
    <section class="details">
        
        <div class="item">
            <div>Imagem da Receita</div>
            <div><input type="url" name="image" placeholder="" value = "{{recipe.image}}"></div>
        </div>

        <div class="item">
            <div>Título da Receita</div>
            <div><input type="text" name="title" placeholder="" value = "{{recipe.title}}"></div>
        </div>

        <div class="item">
            <div>Chef</div>
            <div>
                <input type="text" name="author" value = {{recipe.author}}>
            </div>
            
        </div>

        <div class="item" id="ingredients">
            <div>Ingredientes</div>
            <div class="ingredient">
                {% for ingredient in recipe.ingredients %}
                    <input id="ingredient-item" type="text" name="ingredients[]" value="{{ingredient}}" 
                    placeholder="" />
                {% endfor %}
            </div>
        </div>
        <button type="button" id="ingredient-button" class="add-items-button">Adicionar novo ingrediente</button>

        <div class="item" id="item-steps">
            <div>Modo de Preparo</div>
            <div class="steps">
                {% for step in recipe.steps %}
                    <input id="step-item" type="text" name="steps[]" value="{{step}}" placeholder="" />
                {% endfor %}
            </div>
        </div>
        <button type="button" id="steps-button" class="add-items-button">Adicionar novo passo</button>

        <div class="item">
            <div>Informações Adicionais</div>
            <div id = "additional-information">
                    <textarea 
                        name = "information" 
                        value = "{{recipe.information}}"
                        >{{recipe.information}}</textarea>
            </div>
        </div>

        
        <input type="hidden" name="id" value="{{recipe.id}}">
    </section>
</form>


<form id="form-delete" action="/admin/recipes?_method=DELETE" method="post">
    <input type="hidden" name="id" value="{{recipe.id}}">
    <button type="submit">Deletar</button>
</form>

<script src="/create.js"></script>

<script>
    const formDelete = document.getElementById('form-delete');
    formDelete.addEventListener('submit', () => {
        const confirmation = confirm("Tem certeza de que deseja deletar esse usuário ?");
        if (!confirmation) {
            event.preventDefault();
        }
    });
</script>

{% endblock content %}